body {
  margin: 0;
  padding: 0;
  background: linear-gradient( rgba(40, 44, 52, 0.4), rgba(40, 44, 52, 0.4) ), url('../img/background.png');
  background-color: #282c34;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: lightgrey;
}

.app {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.75);
}

.terminal {
  color: lightgrey;
  border-radius: 0 0 0.3em 0.3em;
  font-family: monospace;
  font-size: 1.1em;
  background-color: black;
  height: 70vh;
  overflow-y: scroll;
  padding: 10px;
}

.topbar {
  border-radius: 0.3em 0.3em 0 0;
  height: 1em;
  padding: 10px;
  position: relative;
  background: darkgrey;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  display: flex;
}

.topbar__logo__svg {
  width: 36px;
  height: 36px;
  fill: #000;
  color: lightgrey;
  border: 0;
}

.topbar__logo {
  position: absolute;
  top: 0px;
  right: 0px;
}

.terminal__line {
  word-wrap: break-word;
  padding-bottom: 2px;
}

.cursor {
  background-color: lightgrey;
}

/* width */
::-webkit-scrollbar {
	width: 8px;
	background-color: #F5F5F5;
}

/* Track */
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

@media (min-width: 1281px) and (max-width: 1500px) {
  .app {
    width: 70%;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .app {
    width: 70%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .app {
    width: 90%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .app {
    width: 90%;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .app {
    width: 90%;
  }
  
  .terminal {
    font-size: 0.9em;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .app {
    width: 90%;
  }

  .terminal {
    font-size: 0.8em;
  }
}
